[submodule "deps/rust/dispatch"]
	path = deps/rust/dispatch
	url = https://github.com/JarvisOSLinux/dispatch.git
[submodule "deps/rust/dmcp"]
	path = deps/rust/dmcp
	url = https://github.com/JarvisOSLinux/dmcp.git
[submodule "deps/rust/contextor"]
	path = deps/rust/contextor
	url = https://github.com/JarvisOSLinux/contextor.git
